body {
   font-size: 16px;
  font-family: "brandon-grotesque", Helvetica, Arial, sans-serif;
  color: SLATEGRAY;
}
h2 {
    text-align: center;
}

.site {

width: 100%
display: block;

}
.btn {
  margin:auto;
  display:block;
  background-color: SteelBlue;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  
  opacity: 0.6;
  transition: 0.3s;
}

.btn:hover {opacity: 1}
.topnav {
  overflow: hidden;
  background-color: Steelblue;
  display:flex;
  width: 100%;
  padding: 14px 16px;
}

.topnav a {
 
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  
    overflow: hidden;
    width: 100%;
  
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.topnav .searchbar {
 display: inline-block;
}

.topnav input{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .searchbar button {
  
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .searchbar button:hover {
  background: SteelBlue;
  color: white
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
 
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;
    display: inline-block;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }


.topnav .responsive.searchbar {
  display: inline-block;
}

.topnav .responsive.input{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .searchbar button {
  
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .searchbar button:hover {
  background: SteelBlue;
  color: white
}
}

#accordion {
    list-style: none;
    padding: 0 0 0 0;
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 5vw;
}
#accordion div {
    display: block;
    background-color: SteelBlue;
    color: white;
    font-weight: bold;
    margin: 1px;
    cursor: pointer;
    padding: 5 5 5 7px;
    list-style: circle;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid white;
box-shadow: 0px 3px 20px 2px LIGHTBLUE;
}
#accordion ul {
    list-style: none;
    padding: 0 0 0 0;
}
#accordion ul{
    display: none;
}
#accordion ul li {
    font-weight: normal;
    cursor: auto;
    background-color: BISQUE;
    padding: 0 0 0 7px;
}
#accordion a {
    text-decoration: none;
}
#accordion a:hover {
    text-decoration: underline;

}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
     width: 50%; 
 
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid steelblue;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 10px;
    background-color: steelblue;
    color: white;
}
.modal-footer {
    padding: 2px 16px;
    background-color: steelblue;
    color: white;
}

.modal-body {padding: 2px 16px;}


.btnmodal {
    
  display:inline-block;
  background-color: SteelBlue;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  font-size: 16px;
  
  opacity: 0.6;
  transition: 0.3s;
}

.btnmodal:hover {opacity: 1}





